.zoom-pan-pinch {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
    --xy-controls-button-background-color-default: #fefefe;
    --xy-controls-box-shadow-default: 0 0 2px 1px rgba(0, 0, 0, 0.08);
    --xy-controls-button-border-color-default: #eee;
}

.__renderer {
    z-index: 4;
}

.__pane {
    z-index: 1;
    &.selection {
        cursor: pointer;
    }
    &.draggable {
        cursor: grab;

        &.dragging {
            cursor: grabbing;
        }
    }
}

.__container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.__viewport {
    transform-origin: 0 0;
    z-index: 2;
    pointer-events: none;
}

.__panel {
    position: absolute;
    z-index: 5;
    margin: 15px;

    &.top {
        top: 0;
    }

    &.bottom {
        bottom: 0;
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }

    &.center {
        left: 50%;
        transform: translateX(-50%);
    }
}

.__controls {
    display: flex;
    flex-direction: column;

    &.horizontal {
        flex-direction: row;
    }

    &-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 26px;
        width: 26px;
        padding: 4px;

        svg {
            width: 100%;
            max-width: 12px;
            max-height: 12px;
            // fill: currentColor;
        }
    }
}

.__controls {
    box-shadow: var(--xy-controls-box-shadow, var(--xy-controls-box-shadow-default));

    &-button {
        // border: 1px solid red;

        background: var(--xy-controls-button-background-color, var(--xy-controls-button-background-color-default));
        border-bottom: 1px solid
            var(--xy-controls-button-border-color-props, var(--xy-controls-button-border-color, var(--xy-controls-button-border-color-default, red)));
        color: var(--xy-controls-button-color-props, var(--xy-controls-button-color, var(--xy-controls-button-color-default)));
        cursor: pointer;
        user-select: none;

        &:hover {
            background: var(
                --xy-controls-button-background-color-hover-props,
                var(--xy-controls-button-background-color-hover, var(--xy-controls-button-background-color-hover-default))
            );
            color: var(--xy-controls-button-color-hover-props, var(--xy-controls-button-color-hover, var(--xy-controls-button-color-hover-default)));
        }

        &:disabled {
            pointer-events: none;

            svg {
                fill-opacity: 0.4;
                opacity: 0.4;
            }
        }
    }

    &-button:last-child {
        border-bottom: none;
    }
}
